{{#if redText}}
  {{set-body-class "red-text"}}
{{/if}}

{{#if blueBackground}}
  {{set-body-class "blue-background"}}
{{/if}}

<label>{{input type="checkbox" checked=redText}} Red Text</label>
<label>{{input type="checkbox" checked=blueBackground}} Blue Background</label>